<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission
        android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.MainActivity"
        tools:targetApi="31">
        <activity
            android:name=".backstage_emotion"
            android:exported="false" />
        <activity
            android:name=".backstage_information"
            android:exported="false" />
        <activity
            android:name=".backstage_DietFood"
            android:exported="false" />
        <activity
            android:name=".backstage_control"
            android:exported="false" />
        <activity
            android:name=".backstage_test_sug"
            android:exported="false" />
        <activity
            android:name=".backstage_test"
            android:exported="false" />
        <activity
            android:name=".backstage_sport"
            android:exported="false" />
        <activity
            android:name=".backstage_diary"
            android:exported="false" />
        <activity
            android:name=".backstage_diary_check"
            android:exported="false" />
        <activity
            android:name=".activity_backstage_test_check"
            android:exported="false" />
        <activity
            android:name=".backstage_user_check"
            android:exported="false" />
        <activity
            android:name=".backstage_USER"
            android:exported="false" />
        <activity
            android:name=".backstage_main"
            android:exported="false" />
        <activity
            android:name=".Backstage"
            android:exported="false" />
        <activity
            android:name=".Diet_food7Activity"
            android:exported="false" />
        <activity
            android:name=".Diet_food6Activity"
            android:exported="false" />
        <activity
            android:name=".Diet_food5Activity"
            android:exported="false" />
        <activity
            android:name=".Diet_food4Activity"
            android:exported="false" />
        <activity
            android:name=".Diet_food3Activity"
            android:exported="false" />
        <activity
            android:name=".Diet_food2Activity"
            android:exported="false" />
        <activity
            android:name=".Manage_Home"
            android:exported="false" />
        <activity
            android:name=".Diet_food1Activity"
            android:exported="false" />
        <activity
            android:name=".Diet_food1"
            android:exported="false" />
        <activity
            android:name=".diet_table_Activity"
            android:exported="false" />
        <activity
            android:name=".test"
            android:exported="false" />
        <activity
            android:name=".diet_table3"
            android:exported="false" />
        <activity
            android:name=".TimerActivity"
            android:exported="false" />
        <activity
            android:name=".NewDiaryActivity"
            android:exported="false" />
        <activity
            android:name=".TestActivity10"
            android:exported="false" />
        <activity
            android:name=".TestActivity9"
            android:exported="false" />
        <activity
            android:name=".TestActivity8"
            android:exported="false" />
        <activity
            android:name=".TestActivity7"
            android:exported="false" />
        <activity
            android:name=".TestActivity6"
            android:exported="false" />
        <activity
            android:name=".TestActivity5"
            android:exported="false" />
        <activity
            android:name=".TestActivity4"
            android:exported="false" />
        <activity
            android:name=".TestActivity3"
            android:exported="false" />
        <activity
            android:name=".TestActivity2"
            android:exported="false" />
        <activity
            android:name=".Sign2Activity"
            android:exported="false" />
        <activity
            android:name=".EmotionActivity"
            android:exported="false" />
        <activity
            android:name=".BalloonActivity"
            android:exported="false" />
        <activity
            android:name=".PuzzleActivity"
            android:exported="false" />
        <activity
            android:name=".GuessActivity"
            android:exported="false" />
        <activity
            android:name=".ExplainActivity"
            android:exported="false" />
        <activity
            android:name=".SignActivity"
            android:exported="false" />
        <activity
            android:name=".DelActivity"
            android:exported="false" />
        <activity
            android:name=".SelectActivity"
            android:exported="false" />
        <activity
            android:name=".NewActivity"
            android:exported="false" />
        <activity
            android:name=".DietActivity"
            android:exported="false" />
        <activity
            android:name=".SportActivity"
            android:exported="false" />
        <activity
            android:name=".BreathActivity"
            android:exported="false" />
        <activity
            android:name=".GameActivity"
            android:exported="false" />
        <activity
            android:name=".MethodActivity"
            android:exported="false" />
        <activity
            android:name=".RecordActivity"
            android:exported="false" />
        <activity
            android:name=".DiaryActivity"
            android:exported="false" />
        <activity
            android:name=".HomeActivity"
            android:exported="false" />
        <activity
            android:name=".ResultActivity"
            android:exported="false" />
        <activity
            android:name=".TestActivity11"
            android:exported="false" />
        <activity
            android:name=".TestActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>